<div class="container-fluid">
    <div class="d-flex justify-content-center">
        
        <p id="filterTag">Filter By:</p>
        
        <!-- Example single danger button -->
        <div class="btn-group px-2">
            <button type="button" class="btn btn-transparent dropdown-toggle py-0 " data-bs-toggle="dropdown" aria-expanded="false">
                {{dropDownValue}}
            </button>
            <ul class="dropdown-menu" (click)="onSelected($event)" >
                <li><a class="dropdown-item">Associate Software Engineer</a></li>
                <li><a class="dropdown-item">Software Engineer</a></li>
                <li><a class="dropdown-item">Senior Software Engineer</a></li>
                <li><a class="dropdown-item">Senior Principal Engineer</a></li>
            </ul>
      </div>
    </div>
</div>