.btn{
    background-color: transparent;
    border-color: brown;
    color: black;
}
.btn:hover{
    background-color: brown;
    color: white;
}
p{
    margin-bottom: 5px;
}
.deleteButton{
    margin-left: 10px !important;
} 
.bi-exclamation-triangle{
    color: #DC4C64;
}
.updateModal{
    color: #3B71CA;
}
input[type=text], select {
    width: 70%;
    padding: 5px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#disabledInput:hover{
    cursor: not-allowed;
}
.bi-check-circle{
    color: #8BC34A;
  }
  .bi-exclamation-triangle{
    color: #eed202;
  }
