<div class="container">
    <div class="d-flex flex-wrap items-container">
        <h1 class="text-center">Add Employee</h1>
        <button class="btn btn-outline-dark mt-1" routerLink="/hr/AllEmployees">Back</button>
    </div>
    <div class="form-container">
        <div class="form-area">
            <h3>Employee Details</h3>
            <form (ngSubmit)="onEmployeeAdd(employeeForm)" #employeeForm="ngForm">

              <label>Employee Name</label>
              <input type="text" name="name" ngModel required #name = ngModel>
              <div>
                <small *ngIf="name.invalid && name.touched">Employee Name is required</small>
              </div>
          
              <label>Designation</label>
              <input type="text" name="designation" ngModel required #designation = ngModel>
              <div>
                <small *ngIf="designation.invalid && designation.touched">Designation is required</small>
              </div>
          
              <label>Experience</label><br>
              <select style="width: 120px;" name="experience" id="experience" #experience = ngModel [ngModel]="defaultExperience" >                
                <option  *ngFor="let num of nums" value="{{num}}">{{num}}</option>              
              </select>
              <div>
                <small *ngIf="experience.invalid && experience.touched">Experience is required</small>
              </div>

              <label>Department</label><br>
              <select style="width: 300px;" name="department" class="form-control" required [class.is-invalid]="department.touched && department.invalid" #department = ngModel ngModel  >                
                <option value="" selected>Select Department</option>
                <option  *ngFor="let dept of allDepartments" [value]="dept.dept_name">{{dept.dept_name}}</option>              
              </select>
              <div>
                <small *ngIf="department.invalid && department.touched">Department is required</small>
              </div>

              <label>Skills</label>
              <input type="text" name="skills" ngModel required #skills = ngModel>
              <div>
                <small *ngIf="skills.invalid && skills.touched">Skills is required</small>
              </div>

              <label>Image Link</label>
              <input type="text" name="image" ngModel required #image = ngModel>
              <div>
                <small *ngIf="image.invalid && image.touched">Image Link is required</small>
              </div>
    
              <input type="submit" value= "Add Employee" [disabled]="!employeeForm" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" *ngIf="employeeAdded === 'Done'"><i class="bi bi-check-circle me-2"></i>Added!</h5>
                      <h5 class="modal-title" id="exampleModalLabel" *ngIf="employeeAdded === 'Empty'"><i class="bi bi-exclamation-triangle me-2"></i>Warning!</h5>
                      <h5 class="modal-title  me-4 pr-5" id="exampleModalLabel" *ngIf="employeeAdded === 'Error'"><i class="bi bi-x-circle me-2"></i>Error!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" *ngIf="employeeAdded === 'Done'">            
                      <p>Employee Details added successfully. Details:</p>
                      <p><b>Employee ID:</b> {{lastEmployeeId}}</p>
                      <p><b>Employee Name:</b> {{lastEmployeeName}}</p>
                    </div>
                    <div class="modal-body" *ngIf="employeeAdded === 'Error'">            
                      <p>Employee not added!</p>
                    </div>
                    <div class="modal-body" *ngIf="employeeAdded === 'Empty'">            
                      <p>Please enter all Details</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-transparent" data-bs-dismiss="modal">Ok</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
    </div>
    
</div>