
.items-container {
    margin-left: 35% !important;
}
button{
    margin-left: 50% !important;   
}
.form-area{
    width: 30%;
    padding: 10px 15px;
}
.product-display-area{
    width: 50%;
    padding: 10px 15px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
  input[type=submit] {
    width: 50%;
    background-color: #48C9B0;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #1ABC9C;
}

  #ignismyModal .modal-header{
      border:0px;
}
  input.ng-invalid.ng-touched{
    border: red 1px solid
}
select.ng-invalid.ng-touched.is-invalid{
  border: red 1px solid
}
.is-invalid{
  border: red 1px solid
}
  small{
    color: red
}
  .bi-check-circle{
    color: #8BC34A;
}
  .bi-exclamation-triangle{
    color: #eed202;
}
.bi-x-circle{
  color:red;
}
#experience option{
  width: 120px !important;
}
