<div class="container-fluid">

    <nav class="navbar  navbar-expand-lg bg-body-tertiary shadow-sm bg-white rounded">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Shirish Kulkarni</a>
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="#">View Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Education</a>
              </li>
              
            
            </ul>
            <form class="d-flex " role="search">
              <input class="form-control me-2 border border-primary" #employeeSearch type="search" placeholder="Search Employee" aria-label="Search">
              <button class="btn btn-outline-success firstButton" (click)="searchEmployee(employeeSearch.value)" type="submit">Search</button>
              <button class="btn btn-outline-dark ms-1 secondButton" [routerLink]="''" (click)="logout()">Logout</button>
            </form>
          </div>
        </div>
      </nav>

</div>

